

  .stroked-text {

    font-weight: bold;
    color: #ffffff; /* Text color */
    -webkit-text-stroke: 2px #B98E75; /* Width and color of the stroke (for WebKit browsers) */
    text-stroke: 2px #B98E75; /* Fallback for other browsers that support the standard property */
  }